:root {
	--vermelho: #E50914;
	--preto: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-b
}

body {
	background: var(--preto);
	font-family: 'Times New Roman', Times, serif;
	color: white;
}

.logo {
	margin: 10px;
}

header .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header nav a {
	text-decoration: none;
	color: #aaa;
	margin-right: 10px;
}

header nav a:hover {
	color: #fff
}

.capa-principal {
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url("../img/rafaela-silva.jpg");
	height: 400px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.capa-principal .descricao{
	margin-bottom: 40px;
}

.titulo {
	font-size: 40px;
}
